.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container div .text {
  color: '#F2A902';
}
